.first-table-cell {
  border: 1px solid rgb(96, 96, 96);
  background-color: rgb(196, 196, 196);
  width: 18%;
}

.standard-table-cell {
  border: 1px solid rgb(196, 196, 196);
  padding-left: 10%; 
}

